<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xd.desktopet">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".util.MyApplication">

        <!--*************************activity**************************************-->
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BluetoothCombine.CombineActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:label="combine" />

        <activity
            android:name=".BluetoothCombine.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog"/>

        <activity android:name=".activity.AlarmListActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".activity.AddAlarmActivity"/>

        <activity android:name=".activity.SoundBrowseActivity"/>

        <activity android:name=".activity.PetSettingActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".activity.AboutActivity"/>

        <!--*************************service**************************************-->
        <service android:name=".service.PetFreeService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.SoundService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".service.MMListenService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>

        <!--*************************broadcastreceiver**************************************-->
        <receiver android:name=".receiver.AlarmReceiver"/>
        <receiver android:name=".receiver.SetAlarmReceiver">
            <intent-filter>
                <action android:name="cn.xd.desktopet.openalarm"/>
                <action android:name="cn.xd.desktopet.closealarm"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>




    </application>

</manifest>
